#chartVideoContainer {
  border-top: 1px solid #333;
  background-color: #000;
}

#chartVideoContainer path {
  fill: none;
  stroke: rgb(175, 183, 255);
  stroke-width: 1;
}

#chartBarContainer .refline {
  fill: none;
  stroke: #2F4F4F;
  stroke-width: 1.0px;
  stroke-dasharray: 1, 15;
}


#chartBarContainer_hor {
  width: 640px;
  height: 500px;
  border: 1px solid #f63;
}

.axis path {
  stroke: steelblue;
  stroke-width: 1
}

.axis .tick line {
  stroke: rgba(104, 104, 104, 0.5);
  stroke-width: 3
}

#chartBarContainer .tick:first-child {
  /* display: none */
}

#chartBarContainer .tick:nth-child(2) {
  /* display: none */
}

#chartBarContainer path {
  /* display: none */
}

#chartBarContainer .tick {
  opacity: 0.5;
  stroke: rgba(104, 104, 104, 0.5);
  stroke-width: 0.5;
}

.group {
  display: flex;
  justify-content: center;
  /* 水平居中 */
  align-items: center;
  /* 垂直居中 */
  border: 1px solid red;
}

.labels {
  font-size: 30px;
  fill: #000;
  stroke: #000;
  stroke-width: 1;

  text-anchor: left;
  /* 文本水平居中 */
  dominant-baseline: middle;
  /* 文本垂直居中 */
}

.totalLabels {
  font-size: 30px;
  fill: #000;
  text-anchor: left;
  /* 文本水平居中 */
  dominant-baseline: middle;
  /* 文本垂直居中 */
}

.tick {
  opacity: 0.5;
  stroke: rgba(104, 104, 104, 0.5);
  stroke-width: 0.5
}